@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark, cupcake;
}

.overlay-bg{
background: #0e0f0f;
background: linear-gradient(320deg, rgba(41, 44, 44, 0.65) 58%, rgb(32, 32, 32) 98%, rgb(19, 17, 5) 100%);

}